.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  
  .details-picture {
    width: 1240px;
    height: 415px;
  }
  
  .slideshow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  
    &-left {
      left: 10px;
    }
  
    &-right {
      right: 10px;
    }
  }
  
  .slideshow-indicator {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }