.frame {
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-align: start;
    color: white;
    background-color: #FF6060;
  
    .header {
      font-weight: bold;
    }
  
    .content {
      margin-top: 10px;
      color: black;
      background-color: #F6F6F673;
    }
  }